<section id="contact">
    <div class="container">
       <div class="main-title text-center mb-5">
          <h2>Contact Us</h2>

          <p class="col-lg-6 mx-auto text-secondary">
             It is a long established fact that a reader will be of a page when established fact looking at its layout.
          </p>
       </div>

       <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 pt-4">
          <div class="col">
             <div class="text-center">
                <i class="fas fa-mobile fa-3x color-rose"></i>
                <h3 class="h6 mt-2">Call Us On</h3>
                <p class="text-secondary small">+216 21532424</p>
             </div>
          </div>

          <div class="col">
             <div class="text-center">
                <i class="fas fas fa-mail-bulk fa-3x color-rose"></i>
                <h3 class="h6 mt-2">Call Us On</h3>
                <p class="text-secondary small">oussamalabiadh111</p>
             </div>
          </div>

          <div class="col">
             <div class="text-center">
                <i class="fas fab fa-facebook fa-3x color-rose"></i>
                <h3 class="h6 mt-2">Call Us On</h3>
                <p class="text-secondary small">Oussama Labiadh</p>
             </div>
          </div>
       </div>

       <form class="contact-area" action="https://formspree.io/f/moqzpbzd" method="POST">
          <div class="row gy-4">
             <div class="col-md-6">
                <div>
                   <input type="text" class="form-control" name="name" placeholder="Your Name.." required />
                </div>
             </div>
             <div class="col-md-6">
                <div>
                   <input type="email" class="form-control" name="name" placeholder="Your Email.." required />
                </div>
             </div>

             <div class="col-12">
                <input type="text" class="form-control" placeholder="Your Subject" name="subject" required />
             </div>

             <div class="col-12">
                <textarea
                   class="form-control"
                   name="msg"
                   style="min-height: 120px"
                   placeholder="Your MEssage"
                   required
                ></textarea>
             </div>

             <div class="col-12 text-end">
                <button class="main-btn">Send Message</button>
             </div>
          </div>
       </form>
    </div>
 </section>