<section id="about">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-2 gy-4">
          <div class="col">
             <div class="image">
                <img class="img-thumbnail" src="./assets/image/about.webp" alt="" />                <img class="img-thumbnail" src="assets/image/about.webp" alt="" />

             </div>
          </div>
          <div class="col">
             <div class="about-info">
                <h2>About Us </h2>
                <p>Hello! <span class="first-color fs-4">smart Home</span></p>

                <div class="text-secondary mt-3">
                   <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when
                      looking at its layout.
                   </p>
                   <p>
                      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                      using 'Content here, content here', making it look like readable English.
                   </p>
                   <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                      some form, by injected humour, or randomised words which don't look even slightly believable.
                   </p>
                </div>

                <ul class="social list-unstyled d-flex gap-2 first-color">
                   <li class="p-2">
                      <a class="text-reset" href="https://www.facebook.com/" target="_blank">
                         <i class="fab fs-4 fa-facebook"></i>
                      </a>
                   </li>

                   <li class="p-2">
                      <a class="text-reset" href="https://www.facebook.com/" target="_blank">
                         <i class="fab fs-4 fa-twitter"></i>
                      </a>
                   </li>

                   <li class="p-2">
                      <a class="text-reset" href="https://www.facebook.com/" target="_blank">
                         <i class="fab fs-4 fab fa-instagram"></i>
                      </a>
                   </li>

                   <li class="p-2">
                      <a class="text-reset" href="https://www.facebook.com/" target="_blank">
                         <i class="fab fs-4 fab fab fa-app-store"></i>
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
