<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">

    <footer class="bg-body-secondary pt-2 text-center text-lg-start ">
      <!-- Grid container -->
      <div class="container">
        <!--Grid row-->
        <div class="row my-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <div class=" d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 200px; height: 150px;">
              <img class="w-100" src="./assets/image/home-front-side-white-background-removebg-preview.png"  alt=""
                   loading="lazy" />
            </div>
  
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolorum?</p>
  
            <ul class="list-unstyled d-flex flex-row justify-content-center">
              <li>
                <a class="first-color px-2" href="#!">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="first-color px-2" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="first-color ps-2" href="#!">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Questions</h5>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>ANNUAIRE BTP
                    Qui sommes-nous
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>Nos newsletters
                    
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>Mentions légales
                 
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>   Politique de Cookies
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>  Cookies Settings
                    </a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Questions</h5>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>ANNUAIRE BTP
                    Qui sommes-nous
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>Nos newsletters
                    
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>Mentions légales
                 
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>   Politique de Cookies
                    </a>
              </li>
              <li class="mb-2">
                <a href="#!" class="first-color"><i class="fas fas fa-question pe-3"></i>  Cookies Settings
                    </a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
       
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Contact</h5>
  
            <ul class="list-unstyled">
              <li>
                <p><i class="first-color fas fa-map-marker-alt pe-2 "></i>tunisia,sfax</p>
              </li>
              <li>
                <p><i class="first-color fas fa-phone pe-2"></i>+216 21532424</p>
              </li>
              <li>
                <p><i class="first-color fas fa-envelope pe-2 mb-0"></i>oussamalabiadh111@gmail.com</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="fs-5 fw-bold text-decoration-none first-color" href="https://facebook.com/">oussama labiadh <i class="fa-solid fa-heart fa-beat first-color"></i></a>
      </div>
      <!-- Copyright -->
    </footer>
  
  </div>
  <!-- End of .container -->