


<section class="my-3"  style="background-color:#00AEC9 ;">
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5   d-md-block">
                <img
                  src="./assets/image/login.webp"
                  alt="login form"
                  class="w-100 h-100"  style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                  <img class="w-25" src="./assets/image/home-front-side-white-background-removebg-preview.png" alt="">
                      <span class="h1 fw-bold mb-0">SmartHome</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Forgot password</h5>
  
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
                      </div>
                      <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
  
                    <a class="small text-muted mx-2" routerLink="/Login">Back to login</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>