
<section id="client">
    <div class="container">
       <div class="main-title text-center mb-5">
          <h2>Our Fournisseurs</h2>

          <p class="col-lg-6 mx-auto text-secondary">
Lorem ipsum dolor sit amet consectetur adipisicing elit. In esse obcaecati explicabo!          </p>
       </div>

       <div class="client-area">
          <div id="carouselExampleIndicators" class="carousel slide">
             <div class="carousel-indicators">
                <button
                   type="button"
                   data-bs-target="#carouselExampleIndicators"
                   data-bs-slide-to="0"
                   class="active"
                   aria-current="true"
                   aria-label="Slide 1"
                ></button>
                <button
                   type="button"
                   data-bs-target="#carouselExampleIndicators"
                   data-bs-slide-to="1"
                   aria-label="Slide 2"
                ></button>
                <button
                   type="button"
                   data-bs-target="#carouselExampleIndicators"
                   data-bs-slide-to="2"
                   aria-label="Slide 3"
                ></button>
             </div>

             <div class="carousel-inner">
                <div class="carousel-item active">
                   <div class="text-center mb-5">
                      <span><i class="fa-solid fa-quote-left fa-3x color-rose"></i></span>
                      <img src="./assets/image/for1.png" class="rounded-circle my-2 d-block mx-auto img-thumbnail" alt="..." />
                      <blockquote class="col-lg-6 mx-auto text-secondary">
                         " The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                         to using <span class="color-rose">'Content here</span>."
                      </blockquote>
                      <p class="blockquote-footer"><span class="color-rose"> SIEMENS</span></p>
                   </div>
                </div>

                <div class="carousel-item">
                   <div class="text-center mb-5">
                      <span><i class="fa-solid fa-quote-left fa-3x color-rose"></i></span>
                      <img src="./assets/image/for2.png" class="rounded-circle my-2 d-block mx-auto img-thumbnail" alt="..." />
                      <blockquote class="col-lg-6 mx-auto text-secondary">
                         " The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                         to using <span class="color-rose">'Content here</span>."
                      </blockquote>
                      <p class="blockquote-footer"><span class="color-rose"> SCHNEIDER</span></p>
                   </div>
                </div>

                <div class="carousel-item">
                   <div class="text-center mb-5">
                      <span><i class="fa-solid fa-quote-left fa-3x color-rose"></i></span>
                      <img src="./assets/image/for3.png" class="rounded-circle my-2 d-block mx-auto img-thumbnail" alt="..." />
                      <blockquote class="col-lg-6 mx-auto text-secondary">
                         " The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                         to using <span class="color-rose">'Content here</span>."
                      </blockquote>
                      <p class="blockquote-footer"><span class="color-rose"> EMERSON</span></p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
